body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: url('https://www.transparenttextures.com/patterns/circuit-board.png'), #e0e7f1;
  color: #4d4444;
}

header {
  background: #728fbd;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  color: #ebf5f4;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #4e7ea7;
}

section {
  padding: 3rem;
  text-align: center;
}

h2 {
  color: #4e7ea7;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.gallery-img {
  width: 200px;
  border-radius: 8px;
  transition: transform 0.3s;
}

.gallery-img:hover {
  transform: scale(1.1);
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  gap: 10px;
}

form input, form textarea, form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

form button {
  background: #4e7ea7;
  color: #728fbd;
  cursor: pointer;
  font-weight: bold;
}

form button:hover {
  background: #4e7ea7;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #728fbd;
  margin-top: 20px;
}

@media(max-width:768px){
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  .gallery-img {
    width: 100%;
  }
}
